Flask==3.1.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.49
spade==4.1.4
pyjabber==0.4.5
cryptography==48.0.0
attrs==26.1.0
loguru==0.7.3
pandas==2.3.3
scikit-learn==1.7.2
streamlit==1.64.0
alembic==1.18.4
