<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>{{ titulo }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<header class="topbar">
    <div class="brand">
        Atendimento Virtual - Sorveteria
    </div>

    <nav class="nav-links">
        <a href="{{ url_for('venda.simulacao_venda') }}">Atendimento</a>
        <a href="{{ url_for('estoque.tela_estoque') }}">Estoque</a>
    </nav>
</header>

{% block content %}
{% endblock %}

</body>

</html>
